.about {
  img {
    width: 200px;
    background-color: var(--primary-color-light);
    border-radius: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .aboutContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .aboutText {
    max-width: 500px;
  }
  .skillBox {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 30px;
    margin: 20px 0;
  }
  .skillText {
    background-color: var(--primary-color-light);
    grid-area: 1/1/2/2;
    padding: 2px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skillBar_color {
    background-color: var(--primary-color);
    width: 1%;
    grid-area: 1/2/2/3;
    z-index: 1;
    transition: 1s;
  }
  .skillBar {
    background-color: var(--primary-color-light);
    width: 100%;
    grid-area: 1/2/2/3;
  }
  .meter {
    height: 30px;
    position: relative;
    background: var(--primary-color-light);
    overflow: hidden;
  }

  .meter span {
    display: block;
    height: 100%;
  }

  .progress {
    background-color: var(--primary-color);
    animation: progressBar 3s ease-in-out;
    animation-fill-mode: both;
  }
}
@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media screen and(max-width:770px) {
  .about {
    .aboutContainer {
      flex-direction: column !important;
    }
  }
}
