footer {
    padding: 30px;
    text-align: center;

    a{
        color: var(--primary-color);
        font-weight: 600;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}