@import "./fonts/fonts.css";

* {
  padding: 0;
  margin: 0;
  font-size: 10;
  font-family: "Nunito", sans-serif;
}

:root {
  --primary-color: #761f53;
  --primary-color-light: #eadde5;
  /* --primary-color:  #04916b;
  --primary-color-light:  #e8f0ee; */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

button {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 500;
    padding: 10px 20px;
    margin: 20px;
    background-color: transparent;
    border: 2px solid var(--primary-color-light);
    transition: 0.5s ease-in-out;
  }

  button span {
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 0.5s ease-in-out;
  }
  button:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white;
  }

  button:hover span {
    transform: rotate(90deg);
  }